.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: fixed;
    top: 0;
    right: 0;
    /* transform: translateX(0vw);
    transition: all 0.3s ease-in; */
}
.menu{
    transform: translateX(50px);
}

.menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu ul li{
    font-size: 2rem;
}

/* .hidden{
    transform: translateX(100vw);
    opacity: 0;    
} */

.light{
    background: var(--backgroundLight);
}

.dark{
    background: var(--backgroundDark);
}