.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	opacity: 0;
	z-index: 10;
}

.menu {
	transform: translateX(0px);
}

.menu ul {
	/* display: flex;
	flex-direction: column;
	text-align: center; */
	list-style: none;
	padding: 0;
}

.menu ul li {
	font-size: 2rem;
}

.menu ul>li>a {
	display: flex;
	align-items: center;
}

.menu li>a>svg {
	margin-right: 5px;
}

.light {
	background: var(--backgroundLight);
}

.dark {
	background: var(--backgroundDark);
}