.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(0vw);
    transition: transform 0.3s ease-in;
}

.menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.menu ul li{
    font-size: 3rem;
}

.hidden{
    transform: translateX(100vw);
}

.light{
    background: var(--backgroundLight);
    /* background-color: var(--backgroundLightGradient); */
}
.dark{
    background: var(--backgroundDark);
    /* background-color: var(--backgroundDarkGradient); */
}