.bodyWrapper{
  background: var(--backgroundDarkGradient);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  position: relative;
}

.dark{
  /* color: var(--textDark); */
  background: var(--backgroundDark);
  background-image: var(--backgroundDarkGradient);
}

.light{
  /* color: var(--textLight); */
  background: var(--backgroundLight);
  background-image: var(--backgroundLightGradient);
}

.content {
  /* flex: 1; */
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100px;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footerLogo {
  height: 2em;
}

@media only screen and (max-width: 780px) {}

@media only screen and (max-width: 640px) {}