.bodyWrapper {
  transition: all 0.3s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  position: relative;
  min-height: 100vh;
}

.dark {
  color: var(--textDark);
  background: var(--backgroundDark);
  background-image: var(--backgroundDarkGradient);
}

.light {
  color: var(--textLight);
  background: var(--backgroundLight);
  background-image: var(--backgroundLightGradient);
}

.content {
  z-index: 2;
  flex: 3;
}

.gameWrapper {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(190, 187, 187, 0.39);
}


.elipse {
  /* border: 1px solid salmon; */
  position: fixed;
  z-index: 1;
}

.elipse1 {
  left: 10vw;
  top: 20vh;
}

.elipse2 {
  right: 10vw;
  top: 15vh;
}

.elipse3 {
  top: 75vh;
  left: 50vw;
  transform: translateX(-50%);
}

@media only screen and (max-width: 780px) {
  .footer {
    flex-direction: column;
  }
}