.bodyWrapper {
  transition: all 0.3s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
  position: relative;
  min-height: 100vh;
}

.dark {
  /* color: var(--textDark); */
  background: var(--backgroundDark);
  background-image: var(--backgroundDarkGradient);
}

.light {
  /* color: var(--textLight); */
  background: var(--backgroundLight);
  background-image: var(--backgroundLightGradient);
}

.content {
  z-index: 2;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100px;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footerLogo {
  height: 2em;
}

.elipse {
  /* border: 1px solid salmon; */
  position: absolute;
  z-index: 1;
}

.elipse1 {
  left: 50px;
  top: 160px;
}

.elipse2 {
  right: 12%;
  top: 100px;
}

.elipse3 {
  top: 550px;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 780px) {}

@media only screen and (max-width: 640px) {}