.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1300px;  /*  */
  position: relative;
}

.content {
  flex: 1;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100px;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footerLogo {
  height: 2em;
}
