.switch {
    position: relative;
    font-size: 1.6rem; 
    border-radius: 50%;
    padding: 2px;
  }

  .shadowLight{
    box-shadow:  0 0 10px 1px rgb(80, 80, 79);
  }

  .shadowDark{
    box-shadow:  0 0 10px 1px yellow;
  }
  
