.card {
  border: 1px solid red;
  color: rgb(48, 60, 63);
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 300px;
  background-color: beige;
  margin: 10px 0;
}

.grid_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_image {
  width: 80%;
}
.project-card--info {
  display: flex;
  flex-direction: column;
  padding: 0 3em;
}
