.wrapper {
  box-shadow: 0 9px 30px -13px grey;
  background-color: white;
  margin: 2em 0;
  object-fit: contain;  
}

.padding_small{
  padding: 1em
}

.padding_medium{
  padding: 2em
}
.padding_large{
  padding: 3em
}