.wrapper {
  box-shadow: 0 9px 30px -13px grey;
  background-color: white;
  margin: 2em 0;
  object-fit: contain;
}

.paddingSmall {
  padding: 1em;
}

.paddingMedium {
  padding: 2em;
}

.paddingLarge {
  padding: 3em;
}

.paddingNone {
  padding: none;
}
