.button {
  background: linear-gradient(90deg, #575988 0%, #6C63FF 100%);
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-family: 'bangers';
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
}

.button:hover{
  background: linear-gradient(90deg, #575988 40%, #6C63FF 100%);


}

.primary {
  color: white;
  background-color: var(--mainColor);
}

.secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.small {
  font-size: 0.8rem;
  padding: 10px 16px;
}

.medium {
  font-size: 1rem;
  padding: 11px 20px;
}

.large {
  font-size: 1.2rem;
  padding: 12px 30px;
}

.full {
  width: 100%;
}