.section{
  margin: 0;
  padding: 10px;
  display: block;
  height: clac(100vh - 100px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dark{
  color: var(--textDark);
  background-color: var(--backgroundDark);
  }
  
.light{
    color: var(--textLight);
  background-color: var(--backgroundLight);
  }
  
.text {
    padding: 1px;
    margin:  5rem;
    /* min-width: 380px; */
    max-width: 680px;
  }


.text h1{
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .text p{
    line-height: 1.4em;
    letter-spacing: 1px;
  }
  
  .techIcons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    font-size: 6em;
  }
  
  @media only screen and (max-width: 980px) {
    .me {
      display: flex;
      flex-direction: column;
    }
  }
  
  