.section {
  margin: 0 4rem;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  ;
}

.dark {
  color: var(--textDark);
  /* background-color: var(--backgroundDark);
  background-image: var(--backgroundDarkGradient); */
}

.light {
  color: var(--textLight);
  /* background-color: var(--backgroundLight);
  background-image: var(--backgroundLightGradient); */
}

.image {
  min-width: 450px;
  position: relative;
  flex: 1;
}

.text {
  flex: 2;
  padding: 1px;
  /* margin: 5rem; */
  /* min-width: 380px; */
  /* max-width: 680px; */
  /* border: 1px solid red; */
}


.textWrapper {
  margin: 0 2em;
}

.text h1 {
  text-align: center;  
  margin-bottom: 3rem;
}

.text p {
  line-height: 1.4em;
  letter-spacing: 1px;
}

.techIcons {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 6rem;
  width: 100%;
  /* border: 1px solid red; */
}


@media only screen and (max-width: 970px) {
  .textWrapper {
    margin: 0 5%;
  }
}

@media only screen and (max-width: 780px) {
  .section {
    flex-direction: column;
  }
  .text {
    margin: 0 2rem;
  }
  .techIcons {
    flex-direction: row;
    padding: 0;
    font-size: 4rem;
  }
}