
.spotify {
  margin-top: 1rem;
  text-align: center;
  flex: 1;
}

.spotifyIcon {
  font-size: 2rem;
}

.spotifyPlayingNow>div {
  font-size: 0.9rem;
}

.spotifyList {
  list-style: decimal;
  font-size:0.9rem;
}

.spotifyList>li {
  text-align: left;
}