.section {
  background: var(--backgroundDark);
  border-radius: var(--borderRadius);
  position: fixed;
  top: 50%;  
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  /* margin-top: 2rem; */
  padding: 50px;
  text-align: center;
  z-index: 2;
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

.gameWrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gameStats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2em 0;
  padding: 1em;
}

.players {
  display: flex;
  flex-direction: column;
}

.player {
  margin: 5px;
  min-width: 100px;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid gray;
}

.board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 155px;
  margin: auto;
}

.board>div {
  display: flex;
  width: 50px;
  background-color: #f0f0f0;
  color: gray;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 4px -2px #919191;
}

.next_turn {
  transition: all 500ms ease-in;
  background-color: #79d7d5;
  border: 1px solid #79d7d5;
}

#board>div:hover {
  box-shadow: none;
  border: 1px solid red;
}