.title-primary {
  font-size: 1.2em;
  font-weight: 700;
}
.title-secondary {
  font-size: 1.2em;
  font-weight: 400;
}
.title-small {
  font-size: 0.8em;
}
.title-medium {
  font-size: 1em;
}
.title-large {
  font-size: 1.3em;
}
