.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo--image{
  max-width: 100px;
}

button + button {
  margin-left: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.menu-links{
padding: 10px;
}