.header {
  align-items: center;  
  display: flex;
  font-family: 'Syne Mono', monospace;
  height: 100px;
  justify-content: center;
  left: 0; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;  
  font-family: 'Open Sans', sans-serif;
}

.dark{
  color: rgb(214, 212, 212);
  background: black;
}

.light{
  color: rgb(102, 102, 102);
  background: #222222;
}

.nav {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

#logo {  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  height: 50px;
  width: 230px;
  font-family: 'Bangers', cursive;
}

/*ul element*/
.menu {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-top: 10px;
}

/*li elements*/
.links {
  position: relative;   
  font-size: 1rem;
  margin: 0 2.5px;
  margin: 5px;
  padding: 0px 10px 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.links  svg{
  font-size: 1.6rem;
  /* height: 50px; */
}

/*span element inside li*/
.linkBorder{ 
  /* visibility: hidden; */
  position: absolute;
  left: .6em;
  right: .6em;
  bottom: 0;
  height: .12em;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-duration: .3s;
  transition-property: transform;
}

.links:hover {
  color: white;
}

.links:hover .linkBorder {
  transform: scaleX(1);
}

@media only screen and (max-width: 740px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  #logo {
    width: 200px;
    height: 40px;
  }
}
