.header {
  align-items: center;  
  display: flex;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  padding: 1.7rem;
  justify-content: center;
  left: 0; 
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;  
  transition: all 0.3s ease-in-out;
}

.dark{
  color: var(--textDark);
  background: var(--backgroundDark);
  background-image: var(--backgroundDarkGradient);
}

.light{
  color: var(--textLight);
  background: var(--backgroundLight);
  background-image: var(--backgroundLightGradient);
}

.nav {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 2;
  /* border: 1px solid red; */
}

.logo {  
  align-items: center;
  display: flex;
  font-family: 'Bangers', cursive !important;
  font-size: 2rem;
  height: 50px;
  justify-content: center;
  width: 230px;
  /* border: 1px solid blue; */
}

/*ul element*/
.menu {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-top: 10px;
  /* border: 1px solid rgb(0, 255, 64); */
}

.themeSwitch{
  border: 1px solid blue;
}

/*li elements*/
.links {
  position: relative;   
  font-size: 1rem;
  margin: 0 2.5px;
  margin: 5px;
  padding: 0px 10px 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.links  svg{
  font-size: 1.6rem;
  /* height: 50px; */
}

/*span element inside li*/
.linkBorder{ 
  position: absolute;
  left: .6em;
  right: .6em;
  bottom: 0;
  height: .12em;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-duration: .3s;
  transition-property: transform;
}

.links:hover {
  color: rgb(128, 128, 128);
}

.links:hover .linkBorder {
  transform: scaleX(1);
}

.hidden{
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 640px) {
  .header{
    padding: 1rem;
  }

  .menu, .themeSwitch{
    visibility: hidden;
    display: none;
  }  
}

@media only screen and (max-width: 375px) {
  
}
