.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  position: relative;
  transition: opacity 0.3s ease-in-out;
  height: 100px;
  width: 100%;
  /* z-index: 3; */
}

.dark {
  color: var(--textDark);
}

.light {
  color: var(--textLight);
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  /* z-index: 2; */
}

.menuGroup   {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}



.logo {
  position: relative;
  align-items: center;  
  margin-left: 1rem;
  margin-right: 10px;
  z-index: 20;
}

.hidden {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
}

