.header {
  width: inherit;
  /* background-color: white; */
  font-family: 'Syne Mono', monospace;
}

.wrapper {
  align-items: center;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  display: flex;
  justify-content: space-around;
  /* padding: 15px 20px; */
  /* box-shadow: 0 9px 30px -13px grey; */
}

#logo{
  background-image: url(../../../public/logoSVG.svg);
  background-size: contain;
  display: block;
  /* text-indent: -9999px; */
  width: 300px;
  height: 82px;
  background-repeat: no-repeat;
  background-position: center;
  fill: white;
}

/*ul element*/
.menu {
  /* composes: purpleColor from '../../../styles/colors.css'; */
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

/*li elements*/
.links {
  background: linear-gradient(
    to left,
    var(--mainColor) 0%,
    var(--mainColor) 10%,
    var(--mainColor) 5px,
    transparent
  );
  background-position: 0 50%;
  background-repeat: repeat-y;
  background-size: 2px 100%;
  color: whitesmoke;
  font-size: 1em;
  margin-left: 10px;
  padding: 5px 5px 5px 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.links:hover {
  background-size: 100% 100%;
  color: white;
}
