.content {
  border-radius: 8px;
  height: 380px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.06);
}

.dark {
color: var(--textDark);
}

.light {
  color: var(--textLight);

}

.bigTextDark {
  color: var(--textLight-3);
}

.bigTextLight {
  color: var(--textDark-3);
}

.imageWrapper {
  /* margin-left: 100px; */
  /* max-width: 500px; */
  /* border: 1px solid salmon; */
  flex: 1;
  position: relative;
  width: 100%;
}

.infoWrapper {
  /* margin-left: 1rem; */
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  padding: 1rem;
  z-index: 1;
}

.bigText {
  /* color: #49586a; */
  display: flex;
  font-family: Bangers, cursive, sans-serif;
  font-size: 10rem;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
}

.bigText span {
  margin: 0 5px;
}

/* @media only screen and (max-width: 640px) {} */

@keyframes animateWaveTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animateWaveBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}