.content {
  border-radius: 8px;
  height: 380px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.06);
  margin: 1rem;
}

.dark {
  color: var(--textDark);
}

.light {
  color: var(--textLight);
}

.bigTextDark {
  color: var(--textLight-3);
}

.bigTextLight {
  color: var(--textDark-3);
}

.imageWrapper {
  display: flex;
  align-items: center;
  object-fit: fill;
  flex: 1;
  position: relative;
  width: 100%;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  justify-content: space-around;
  padding: 1rem;
  z-index: 1;
}

.tecList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: end;
  align-items: flex-start;
}

.tecList span {
  text-align: center;
  margin: 5px;
}

.bigText {
  /* color: #49586a; */
  display: flex;
  font-family: Bangers, cursive, sans-serif;
  font-size: 10rem;
  justify-content: space-evenly;
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
}

.bigText span {
  margin: 0 5px;
}

@media only screen and (max-width: 720px) {
  .content {
    flex-direction: column;
    height: 100%;
  }
  .imageWrapper {
    min-height: 400px;
    align-items: center;
    flex: 1;
    position: relative;
  }
  .infoWrapper {
    flex: 1;
    text-align: center;
  }
  .infoWrapper>div {
    margin: 5px 0;
  }
  .tecList {
    flex-direction: row;
    justify-content: space-around;
  }
  .bigText {
    flex-direction: column;
    font-size: 3rem;
    left: 10px;
  }
  .bigText span {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 640px) {
  .imageWrapper {
    min-height: 300px;
  }
}

@media only screen and (max-width: 376px) {
  .imageWrapper {
    min-height: 200px;
  }
}

@keyframes animateWaveTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes animateWaveBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}