.hero {
  composes: lightTextColor from '../../../styles/colors.css';
  background-color: rgb(218, 204, 204);
  background-image: url('../../../public/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 400px;
  min-height: 50vh;
}

.content {
  position: relative;
}

.h1 {
  left: 50%;
  position: absolute;
  top: 25%;
  transform: translate(-50%, -50%);
}

.h2 {
  left: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}

.content {
  flex: 2;
  text-align: center;
}
