.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
}

.loadingBar {
  width: 100%;
  height: 7px;
  overflow: hidden;
  background-color: gray;
}

.background {
  height: 150px;
  width: 4000px;
  transform: translateX(0px);

  background: hsla(263, 90%, 48%, 1);

  background: radial-gradient(circle, hsla(263, 90%, 48%, 1) 0%, hsla(13, 94%, 48%, 1) 50%, hsla(263, 90%, 48%, 1) 100%);
  
  background: -moz-radial-gradient(circle, hsla(263, 90%, 48%, 1) 0%, hsla(13, 94%, 48%, 1) 50%, hsla(263, 90%, 48%, 1) 100%);
  
  background: -webkit-radial-gradient(circle, hsla(263, 90%, 48%, 1) 0%, hsla(13, 94%, 48%, 1) 50%, hsla(263, 90%, 48%, 1) 100%);
  
}
