.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
}

.loadingBar {
  width: 100%;
  height: 10px;
  overflow: hidden;
  background-color: gray;
}

.background {
  height: 150px;
  width: 4000px;
  transform: translateX(0px);

  background: hsla(136, 74%, 32%, 1);

  background: linear-gradient(
    0deg,
    hsla(136, 74%, 32%, 1) 0%,
    hsla(80, 81%, 54%, 1) 15%,
    hsla(102, 37%, 45%, 1) 30%,
    hsla(0, 79%, 40%, 1) 45%,
    hsla(202, 66%, 25%, 1) 50%,
    hsla(0, 79%, 40%, 1) 55%,
    hsla(102, 37%, 45%, 1) 75%,
    hsla(80, 81%, 54%, 1) 85%,
    hsla(136, 74%, 32%, 1) 100%
  );

  background: -moz-linear-gradient(
    0deg,
    hsla(136, 74%, 32%, 1) 0%,
    hsla(80, 81%, 54%, 1) 15%,
    hsla(102, 37%, 45%, 1) 30%,
    hsla(0, 79%, 40%, 1) 45%,
    hsla(202, 66%, 25%, 1) 50%,
    hsla(0, 79%, 40%, 1) 55%,
    hsla(102, 37%, 45%, 1) 75%,
    hsla(80, 81%, 54%, 1) 85%,
    hsla(136, 74%, 32%, 1) 100%
  );

  background: -webkit-linear-gradient(
    0deg,
    hsla(136, 74%, 32%, 1) 0%,
    hsla(80, 81%, 54%, 1) 15%,
    hsla(102, 37%, 45%, 1) 30%,
    hsla(0, 79%, 40%, 1) 45%,
    hsla(202, 66%, 25%, 1) 50%,
    hsla(0, 79%, 40%, 1) 55%,
    hsla(102, 37%, 45%, 1) 75%,
    hsla(80, 81%, 54%, 1) 85%,
    hsla(136, 74%, 32%, 1) 100%
  );

  // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#158C35", endColorstr="#A9E929", GradientType=1 );
}
