html, body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Open Sans';
  font-size: 16px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --textDark: rgb(233, 233, 233);
  --textLight: rgb(59, 59, 59);
  --textDark-3: rgba(233, 233, 233, 0.3);
  --textLight-3: rgba(77, 76, 76, 0.3);
  --textDark-5: rgba(233, 233, 233, 0.5);
  --textLight-5: rgba(77, 76, 76, 0.5);
  --textDark-7: rgba(233, 233, 233, 0.7);
  --textLight-7: rgba(77, 76, 76, 0.7);
  --textOutstandingLight: #453ea1;
  --textOutstandingDark: #ffd037;
  --backgroundLight: #f0f0f0;
  --backgroundDark: #485461;
  --backgroundTransparent: rgba(10, 10, 10, 0.06);
  --backgroundLightGradient: linear-gradient(116.93deg, #5192DB 0%, #8CBCF1 30.28%, #B5D6FB 71.63%, #D3E8FF 92.3%);
  --backgroundDarkGradient: linear-gradient(116.93deg, #D3E8FF 0%, #5B8DC4 19.23%, #245892 45.19%, #143D6B 67.78%, #041F3C 92.3%);
  /* --backgroundLightGradient: linear-gradient(116.93deg, #28313B 0%,#7A7F85 15%, #FFFFFF 92.3%); */
  /* --backgroundDarkGradient:  linear-gradient(116.93deg, #B7B7B7 0%, #7A7F85 18.27%, #28313B 92.3%); */
  --xSmallScreen: 375px;
  --smallScreen: 780px;
  --mediumLarge: 840px;
  --mediumScreen: 1024px;
  --buttonGradient: linear-gradient(90deg, #575988 0%, #6C63FF 100%);
  --random-x1: 2em;
  --random-y1: 5em;
  --random-x2: 1em;
  --random-y2: 2em;
  --random-x3: -2em;
  --random-y3: -2em;
  --borderRadius: 10px;
}