html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  color: #888;
  font-family: 'Open Sans';
  font-size: 15px;
}

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

:root {
  --mainColor: #6f58fa;
}
