html,
body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
  color: #888;
  font-family: 'Open Sans';
  font-size: 15px;
}

* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}

:root {
  --mainColor: #6f58fa;
  --textDark: rgb(246, 241, 247);
  --textLight: #4d4c4c;
  --backgroundLight : #f0f0f0;
  --backgroundLightGradient: linear-gradient(to top left, #ffffff 0%, #dedede 100%);
  --backgroundDark : #485461;
  --backgroundDarkGradient: linear-gradient(315deg, #485461 0%, #28313b 74%);
  --xSmallScreen: 375px;
  --smallScreen: 640px;
  --mediumScreen: 1007px;
}
