.me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  /* padding: 5em; */
}

.paragraph {
  line-height: 1.8em;
  text-indent: 0.5em;
  padding: 0 2em;
}

.techIcons {
  composes: purpleColor from '../styles/colors.css';
  display: flex;
  justify-content: space-around;
  padding: 1em;
  font-size: 6em;
}

@media only screen and (max-width: 980px) {
  .me {
    display: flex;
    flex-direction: column;    
  }
}
