.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  margin: 2px;
}
.options{
  text-align: center;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1024px) {
  .cardsWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 840px) {
  .cardsWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 780px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  .cardsWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}