.card{
  padding: 1rem;
  border-radius: var(--borderRadius);
  margin: 5px;
  border: 2px solid greenyellow;
}

.header{
  font-size: 1.5rem;  
  margin-bottom: 0.7rem;
}

.dark {
  background-color: var(--backgroundDark);
}

.light {
  background-color: var(--backgroundLight);
}