/*ul element*/

.menu {
  flex-direction: row;
  display: inline-flex;
  list-style: none;
  padding-top: 10px;
}

/*li elements*/
.links {
  cursor: pointer;
  font-size: 1rem;
  line-height: 25px;
  margin: 0 0.5rem;
  position: relative;
  text-decoration: none;
  // transition: all 0.3s ease-in-out;
  
  .link {
    :hover {
      color: var(--textDark-5);
    }
  }
}

.links svg {
  font-size: 1.6rem;
}

.dropdown{
  display: flex;
  list-style: none;
  position: absolute;
  right: 0px;
  // background-color: white;
}

.dropdownItem{
  margin: 1rem; 
}

/*span element inside li*/

.linkBorder {
  background-color: currentColor;
  bottom: 0;
  height: .12em;
  left: .6em;
  position: absolute;
  right: .6em;
  transform-origin: 0 50%;
  transform: scaleX(0);
  transition-duration: .3s;
  transition-property: transform;
}


.links:hover .linkBorder {
  // transform: scaleX(1);
}