/*ul element*/
.menu {
  list-style: none;
  padding-top: 10px;
  /* position: fixed; */
}

/*li elements*/

.links {
  position: relative;
  font-size: 1rem;
  margin: 0 2.5px;
  margin: 5px;
  padding: 0px 10px 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.links svg {
  font-size: 1.6rem;
  /* height: 50px; */
}

/*span element inside li*/

.linkBorder {
  position: absolute;
  left: .6em;
  right: .6em;
  bottom: 0;
  height: .12em;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-duration: .3s;
  transition-property: transform;
}

.links:hover {
  color: rgb(128, 128, 128);
}

.links:hover .linkBorder {
  transform: scaleX(1);
}