.botWrapper{
  position: fixed;
  bottom: 0;
  right: 0;
  bottom: 50px;
  width: 400px;  
  min-width: 400px;
  max-width: 400px;
  z-index: 20;
  height: 80vh;
  border-radius: var(--borderRadius);
  transition: background-color 0.5s ease;
}

// .background {
//   bottom: 0px;
//   border-radius: var(--borderRadius);
//   z-index: 20;
//   position: fixed;
//   right: 0px;
//   min-width: 400px;
//   max-width: 400px;
//   background: rgba(255, 255, 255, 0.815);
// }

.dark{
  background-color: var(--backgroundDark);
  color: var(--textDark);
}

.light{
  background-color: var(--backgroundLight);
  color: var(--textLight);
}

@media only screen and (max-width: 420px) {
  
  .botWrapper{
    height: calc(100vh - 100px ); /* 100px = header hight*/
  }

}