.botContainer{
  background-color: #333;
  bottom: 0;
  height: 70vh;
  margin: 0 10%;
  margin: auto;  
  position: relative;
  right: 0;
  width: 75%;
  z-index: 99999999999;
  display: flex;
  flex-direction: column;
  border-radius: var(--borderRadius);

  h1{
    text-align: center;
  }
}

.form {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: flex;
  height: 3rem;
  // bottom: 0;
  // right: 0;
  // left: 0;
  padding: 0.25rem;
  // position: absolute;
  flex: 10%;
  border-radius: var(--borderRadius);

  
  input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
    
    focus {
      outline: none;
    }
    
  }
  
  button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
  }
}

.messagesContainer { /*ul element*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 90%;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.userMessage {
  text-align: right;
}

.botMessage {
  text-align: left;
}

.messagesContainer>li {
  padding: 0.5rem 1rem;
}

.messagesContainer>li:nth-child(odd) {
  background: #2b2a2a;
}

.stats {
  background-color: #333;
  color: aliceblue;
  width: 100%;
  padding: 5px;
  display: flex;
}

.stats>span {
  margin: 0 10px;
}

.connections,
.users {

  margin: 3px;
}

.connections::before {
  content: 'Connected: ';
}

.users::before {
  content: 'Users: ';
}

.suggestions {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  background-color: lightgrey;
  gap: 10px;
  justify-content: center;
  padding: 5px 0px;
  width: 100%;
  padding: 5px 0;
}

.suggestionTag {
  background-color: pink;
  border-radius: 50px;
  border: 1px solid lightsalmon;
  padding: 2.5px 10px;
}