.botButton{
  align-items: center;
  border-radius: 30%;
  bottom: 10px;
  display: flex;
  height: 40px;
  justify-content: center;
  position: fixed;
  right: 20px;
  width: 30px;
  z-index: 15; 
  cursor: pointer;  
}