.suggestions {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  padding: 5px 0px;
  width: 100%;
  padding: 5px 0;
}

.suggestionTag {
  background-color: rgb(146, 146, 146);
  border-radius: 50px;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
  
  &:hover{
    box-shadow: var(--shadow);
  }
}